/* ==========================================================================
 Colors
========================================================================== */
html{
	--color-primary-orange:#fb8c00;
	--color-orange-light:#ffb74d;
	--color-orange-dark:#c25e00;
	--color-blue-grey:#37474f;
	--color-blue-grey-light:#62727b;
	--color-blue-grey-dark:#102027;
	--color-primary-text:#1f2d3d;
	--color-text-light:#d3dce6;
	--color-text-lighter:#eff2f7;
}
/* ==========================================================================
 Typograpgy
========================================================================== */
html{
	color: var(--color-primary-text);
	--font-primary:'open sans',sans-serif;
	--font-secondary:'Nunito Sans',sans-serif;
	line-height: 1.5;
}
main{
	max-width: 60rem;
}
a{
	color: var(--color-primary-orange);
	font-family: var(--font-primary);
}
h1,h2,h3,h4,h5,h6{
	font-family: var(--font-secondary);
}
p{
	font-family: var(--font-primary);
}
.prifont {
	font-size: 3rem;
	font-family: var(--font-primary);
}

/* ==========================================================================
 Header Conmponent
========================================================================== */
header{
	background-color: var(--color-blue-grey);
	padding: 2rem;
}

/* ==========================================================================
 Footer Conmponent
========================================================================== */
footer{
	background-color: var(--color-blue-grey);
	padding: 2rem;
}
footer p{
	color: var(--color-text-light);
}
/* ==========================================================================
 Master page layout
========================================================================== */

ul li a{
	text-decoration: none;
}
nav ul li{
	display: inline-block;
	padding-right: 10%;
}
li{
	list-style: none;
}

ul{
	padding-left: 0;
}
.bodycopylinks{
	text-decoration: none;
	color: var(--color-orange-dark);
}
