/* ==========================================================================
 Typograpgy
========================================================================== */
html{
	color: #1f2d3d;
}
a{
	color: #fb8c00;
}
/* ==========================================================================
 Header Conmponent
========================================================================== */
header{
	background-color: #37474f;
	padding: 2rem;
}

/* ==========================================================================
 Footer Conmponent
========================================================================== */
footer{
	background-color: #37474f;
	padding: 2rem;
}
footer p{
	color: #d3dce6;
}
/* ==========================================================================
 Master page layout
========================================================================== */

ul li a{
	text-decoration: none;
}
nav ul li{
	display: inline-block;
	padding-right: 10%;
}
li{
	list-style: none;
}

ul{
	padding-left: 0;
}

