/* ==========================================================================
 Colors
========================================================================== */
html {
	--color-primary-orange:#fb8c00;
	--color-orange-light:#ffb74d;
	--color-orange-dark:#D76D00;

	--color-blue-grey:#37474f;
	--color-blue-grey-light:#62727b;
	--color-blue-grey-dark:#102027;

	--color-primary-text:#1f2d3d;
	--color-text-light:#d3dce6;
	--color-text-lighter:#eff2f7;
}

/* ==========================================================================
 Typography
========================================================================== */
html {
	--font-primary:'open sans', sans-serif;
	--font-secondary:'Turret Road', sans-serif;

	--size-ratio:1.2;

	--size-one-up: calc( 1rem * var(--size-ratio));
	--size-two-up: calc(var(--size-one-up) * var(--size-ratio));
	--size-three-up: calc(var(--size-two-up) * var(--size-ratio));
	--size-four-up: calc(var(--size-three-up) * var(--size-ratio));
	--size-five-up: calc(var(--size-four-up) * var(--size-ratio));
	--size-six-up: calc(var(--size-five-up) * var(--size-ratio));

	--size-one-down: calc( 1rem / var(--size-ratio));

	color: var(--color-primary-text);
	font-family: var(--font-primary);
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-secondary);
	line-height: .8;
	margin-top: 15%;
}

h1 {
	color: var(--color-orange-dark);
	font-size: var(--size-six-up);
	font-weight: bolder;
}

h2 {
	font-size: var(--size-five-up);
}

h3 {
	color: var(--color-blue-grey-light);
	font-size: var(--size-four-up);	
}

h4 {
	font-size: var(--size-three-up);
}

h5 {
	font-size: var(--size-two-up);
}

h6 {
	font-size: var(--size-one-up);
}

a {
	color: var(--color-primary-orange);
	text-decoration: none;
}

/* ==========================================================================
 Links states
========================================================================== */

a:active {
	color: var(--color-orange-dark);
}

a:focus {
	color: var(--color-orange-dark);
}

a:hover {
	color: var(--color-primary-orange);
}

/* ==========================================================================
 Examples
========================================================================== */
.primary-font {
	font-size: 3rem;
	font-family: var(--font-primary);
	text-align: center;
}

.secondary-font {
	font-size:3rem;
	font-family: var(--font-secondary);
	text-align: center;
}

.turret {
	font-family: var(--font-secondary);
}

/* headings Component */
.heading-level {
	text-align: center;
}

/* body text Component */
.paragraph-featured {
	font-size: var(--size-one-up);
}

.paragraph-micro {
	font-size: var(--size-one-down);
}

/* list Component */
section figure ul {
	list-style-type: square;
	list-style-position: outside;
	margin-bottom: 1rem;
}

section figure ul li ul li {
	color: var(--color-orange-dark);
	font-style: italic;
}

section figure ol {
	list-style-position: inside;
	margin-bottom: 1rem;
}

section figure ol li ol li {
	color: var(--color-orange-dark);
	font-style: italic;
}

/* blockquote Component */
blockquote {
	border-left: 5px solid var(--color-orange-dark);
	font-size: var(--size-two-up);
	font-style: italic;
	margin: 0 auto;
	padding:1em;
}

.quotation-mark {
	font-size: 3rem; 
	line-height: 0.6em; 
	opacity: 0.2;
}

cite {
	font-size: var(--size-one-up);
}

/* ==========================================================================
 Button component
========================================================================== */

/* primary button */

.link-button-hero {
	background-color: var(--color-primary-orange);
	border:1.5px solid;
	border-color: var(--color-primary-orange);
	border-radius: .2rem;
	color: white;
	display: inline-block;
	font-size: var(--size-one-up);
	margin-right: 1rem;
	padding: .8rem 3rem;	
}

.link-button-hero:active {
	background-color: white;
	border-color: var(--color-primary-orange);
	box-shadow: 2px 2px 0 var(--color-primary-orange);
}

.link-button-hero:focus {
	background-color: white;
}

.link-button-hero:hover {
	background-color: white;
	border-color: var(--color-primary-orange);
	box-shadow: 2px 2px 0 var(--color-primary-orange);
}


.link-button-hero-secondary-color {
	background-color: var(--color-orange-dark);
	border-color: var(--color-orange-dark);
}

.link-button-hero-secondary-color:hover {
	background-color: white;
	border-color: var(--color-orange-dark);
	box-shadow: 2px 2px 0 var(--color-orange-dark);
	color: var(--color-orange-dark);
}


.link-button-hero-disable {
	background-color: var(--color-text-light);
	border-color: var(--color-text-light);
}

.link-button-hero-disable:hover {
	background-color: var(--color-text-light);
	box-shadow: none;
	border: none;
	color: white;
}


/* secondary button */
.link-button-normal {
	border-color: var(--color-primary-orange);
	border: 1.5px solid;
	border-radius: .2rem;
	display: inline-block;
	font-size: var(--size-one-up);
	margin-right: 1rem;
	padding: .8rem 3rem;
}

.link-button-normal:active {
	background-color: white;
}

.link-button-normal:focus {
	background-color: white;
}

.link-button-normal:hover {
	box-shadow: 2px 2px 0 var(--color-primary-orange);
}

.link-button-normal-secondary-color {
	border-color: var(--color-orange-dark);
	color: var(--color-orange-dark);
}

.link-button-normal-secondary-color:hover {
	box-shadow: 2px 2px 0 var(--color-orange-dark);
	color: var(--color-orange-dark);
}

.link-button-normal-disable {
	border-color: var(--color-text-light);
	color: var(--color-text-light);
}

.link-button-normal-disable:hover {
	box-shadow: none;
	color:var(--color-text-light);
}

/* tertiary button */
.link-button-tertiary {
	background-color: var(--color-blue-grey);
	border: 1.5px solid;
	border-color: var(--color-blue-grey);
	border-radius: .2rem;
	color: white;
	display: inline-block;
	margin-right: 1rem;
	padding: .5rem 1.8rem;
}

.link-button-tertiary:active {
	background-color: white;
	border-color: var(--color-blue-grey): 
	box-shadow:2px 2px 0 var(--color-blue-grey);
}

.link-button-tertiary:focus {
	background-color: white;
}

.link-button-tertiary:hover {
	background-color: white;
	border-color: var(--color-blue-grey);
	box-shadow: 2px 2px 0 var(--color-blue-grey);
	color: var(--color-blue-grey);
}

.link-button-tertiary-secondary {
	background-color: white;
	color: var(--color-blue-grey);
}

.link-button-tertiary-secondary:active {
	background-color: white;
}

.link-button-tertiary-secondary:focus {

}

.link-button-tertiary-seconday:hover {
	box-shadow: 2px 2px 0 var(--color-blue-grey);
	color: var(--color-blue-grey);	
}

.link-button-tertiary-disable {
	background-color: white;
	border-color: var(--color-text-light);
	color: var(--color-text-light);
}

.link-button-tertiary-disable:hover {
	box-shadow: none;
	border-color: var(--color-text-light);
	color:var(--color-text-light);
}

/* ==========================================================================
 Accordins component
========================================================================== */

details {
	border-bottom: .8px solid var(--color-blue-grey);
	overflow: hidden;
}

summary {
	background-color: white;
	font-size: var(--size-one-up);
	padding: .5rem;
}

summary:focus {
	background-color: var(--color-blue-grey);
	color:white;
}

summary:hover {
	background-color: var(--color-blue-grey);
	color:white;
}

details div {
	padding-left: .5rem;
}


/* ==========================================================================
 Modal dialog component
========================================================================== */

button {
	background-color: var(--color-primary-orange);
	border:1.5px solid;
	border-radius: .2rem;
	color: white;
	display: inline-block;
	font-size: var(--size-one-up);
	margin-right: 1rem;
	padding: .8rem 3rem;
}

button:active {
	background-color: white;
	border-color: var(--color-primary-orange);
	box-shadow: 2px 2px 0 var(--color-primary-orange);
}

button:hover {
	background-color: white;
	border-color: var(--color-primary-orange);
	box-shadow: 2px 2px 0 var(--color-primary-orange);
	color: var(--color-primary-orange);
}

dialog {
	border: none;
	border-radius: .1rem;
	border-top: 3rem solid var(--color-blue-grey);
	box-shadow: 6px 6px 0px var(--color-primary-orange);
	max-width: 30rem;
	padding: 3rem;
}

dialog::backdrop {
	animation: img-fade .8s ease-out;
	background-image: url(images/vector-tools-icon-set.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(5px);
}

dialog[open] {
	animation: fade-in .8s;
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: scale(.9);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes img-fade {
	0% {
		opacity: .9;
	}

	100% {
		opacity: 1;
	}
}
/* ==========================================================================
 Header Component
========================================================================== */
header {
	background-color: var(--color-blue-grey);
	padding: 2rem;
}

header ul {
	list-style: none;
	padding-left: 0;
}

header a:hover {
	color:var(--color-orange-light);
}

.site-logo {
	font-size: var(--size-four-up);
	font-family: var(--font-secondary);
	text-decoration: none;
	text-transform: uppercase;
}

/* ==========================================================================
 Footer Component
========================================================================== */
footer {
	background-color: var(--color-blue-grey);
	font-size: var(--size-one-down);
	margin-top: 10%;
	padding: 2rem;
}

footer ul {
	list-style: none;
	padding-left: 0;
}

footer a:hover {
	color:var(--color-orange-light);
}

footer p {
	color: var(--color-text-light);
}

/* ==========================================================================
 Master page layout
========================================================================== */
main {
	margin:3rem auto;
	max-width: 39rem;
}

svg {
	margin-top: 10%;
}

.bodycopylinks {
	color: var(--color-orange-dark);
	text-decoration: none;	
}
